<div class="container-fluid">
  <simple-notifications></simple-notifications>
  <div class="loading" *ngIf="isLoadingServerTime || isLoading"></div>
  <div class="row" *ngIf="!isLoadingServerTime">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <app-month-selector
          [months]="months"
          [currMonth]="currMonth"
          [years]="years"
          [currYear]="currYear"
          (next)="next($event)"
          (previous)="previous($event)"
          (onMonthChange)="onMonthChange($event)"
          (onYearChange)="onYearChange($event)"
        ></app-month-selector>
      </div>
      <app-calendar
        [currMonth]="currMonth"
        [currYear]="currYear"
        (daySelected)="daySelected($event)"
        [reservations]="reservations"
      ></app-calendar>
      <button
        *ngIf="selectedDate"
        class="reservation-button reserve"
        [ngClass]="{
          'reservation-button': true,
          reserve: !selectedDate.reserved,
          cancel: selectedDate.reserved
        }"
      >
        Reserve
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-reservations-list
        [reservations]="reservations"
        [months]="months"
        (cancelReservation)="onListCancel($event)"
      ></app-reservations-list>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
