.reservation-button {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}

.reservation-button.reserve {
  background: green;
  border: 1px solid green;
}

.reservation-button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  color: #666666;
}

.header {
  justify-content: flex-end;
}

.cancel {
  cursor: pointer;
}
